[user]
	name = Ilay Raz
	email = ilay.raz@gmail.com
[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[color]
	ui = auto
