[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift
After=graphical.target

[Service]
ExecStart=/usr/bin/redshift
Restart=always

[Install]
WantedBy=default.target
